@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif; // Seymour One 400; Montserrat 400 600 700 800 900.
  font-style: normal;
  //   font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: $text-color;

  background-color: $background-color;
}

.section {
  padding-top: 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title__sub {
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
}
