<section class="section">
  <div class="container products">
    <span class="title__sub products__sub-title">100% natural</span>
    <h2 class="title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__item-img-ac"></div>
        <img
          class="products__item-img"
          src="#"
          alt="ice cream"
          width="201"
          height="200.32"
        />
        <h3 class="products__item-title">ice cream</h3>
        <p class="products__item-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <a class="products__item-linc" href="#">---></a>
      </li>
      <li class="products__item">
        <div class="products__item-img-ac"></div>
        <img
          class="products__item-img"
          src="#"
          alt="ice coffee"
          width="201"
          height="200.32"
        />
        <h3 class="products__item-title">ice coffee</h3>
        <p class="products__item-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a class="products__item-linc" href="#">---></a>
      </li>
      <li class="products__item">
        <div class="products__item-img-ac"></div>
        <img
          class="products__item-img"
          src="#"
          alt="milkshakes"
          width="201"
          height="200.32"
        />
        <h3 class="products__item-title">milkshakes</h3>
        <p class="products__item-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <a class="products__item-linc" href="#">---></a>
      </li>
    </ul>
  </div>
</section>
