<section class="section">
    <div class="container">
        <h2 class="team_title">My team</h2>
        <ul class="team_list">
            <li>
                <img src="#" alt="team..." width="85" height="85"/>
                <p>I love visiting your cafe.
 You prepare the most delicious ice cream in Los Angeles! 
In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <spun>Emily, Los Angeles</spun>
            </li>
            <li>
                <img src="#" alt="team..." width="85" height="85"/>
                <p>I love visiting your cafe.
 You prepare the most delicious ice cream in Los Angeles! 
In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <spun>Emily, Los Angeles</spun>
            </li>
            <li>
                <img src="#" alt="team..." width="85" height="85"/>
                <p>I love visiting your cafe.
 You prepare the most delicious ice cream in Los Angeles! 
In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <spun>Emily, Los Angeles</spun>
            </li>
        </ul>
    </div>
</section>